*{
	box-sizing: border-box;
}

/*-------top: logo & menu-------*/
body{
	margin: 0;
}

.top{
	background-color: #eee;
	height: 20%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.logo{
	margin: 15px;
	margin-right: auto;

}
.menu-trigger{
	width: 1rem;
	height: 1px;
	background-color: #000;
	margin: 5px;
}

.menu{
	margin:15px;
}
.item{
	margin: 15px;
	display: none;
}

/*---------welcome----------*/
.welcome-flex{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c8def0;
	height: 180px;
	margin-top:0;
}

/*---------section---------------*/
section{
	text-align: center;

}

.box{
	height: 200px;
	background-color: #849aac;
	margin: 10px;
	padding: 10px;

}

.container1,
.container2{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

}



/*--------footer------------*/
footer{
	background-color: #d9efff;
	margin: 0 auto;
	clear: both;
	width: 200px;
	padding: 10px;
	text-align: center;
}


/*---------media------------*/
@media only screen and (min-width: 500px) and (max-width:800px){
	.container1,
	.container2{
		display: flex;
	}
	.box{
		width: 50%;
		height: 20vh;
	}
	.item{
		margin: 15px;
		display: none;
	}
}


@media only screen and(min-width: 800px) and (max-width:1200px) {
	.container1,
	.container2{
		display: flex;
	}
	.box{
		width: 50%;
		height: 20vh;
	}
	.item{
		margin: 15px;
		display: inline-block;
	}
	.menu{
		display: none;
	}
}


@media only screen and (min-width: 1200px){

	.container1,
	.container2{
		display: flex;
		width: 1200px;
		margin: 0 auto;
	}
	.box{
		width: 50%;
		height: 20vh;

	}
	.item{
		margin: 15px;
		display: inline-block;
	}
	.menu{
		display: none;
	}
}