


/*@media (min-width: 800px){
	.container{
		display: flex;
/*		flex-basis: 450px;*/
/*		flex-wrap: wrap;*/
/*		flex-direction: column;*/
	/*}
}	*/
/**/

/*@media (min-width: 1200px){

}*/

/*.container{
	display: flex;
	flex-direction: column;
}*/